{% extends base_template %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class=" mx-auto mt-10 p-6 bg-white shadow rounded-lg">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Change Your Password</h2>

    <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class=" mt-4 bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
            Change Password
        </button>
    </form>
</div>
{% endblock %}
