{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="max-w-6xl mx-auto mt-6 bg-white rounded-lg p-8">
    <h2 class="text-2xl font-semibold mb-4">Edit Product: {{ product.serial_number }}</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700">
            Update Product
        </button>
    </form>

    <div class="mt-4">
        <a href="{% url 'product_list' %}" class="text-blue-600 hover:underline">Back to Product List</a>
    </div>
</div>
{% endblock %}
