{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="max-w-6xl mx-auto mt-6 bg-white rounded-lg p-8">
    
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Add Staff User</h2>

    <form method="post" autocomplete="off" class="space-y-4">

        {% csrf_token %}
        {{ form|crispy }}

        <div class="">
            <button type="submit"
                class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-8 rounded-xl shadow">
                    Add Staff
            </button>
        </div>
    </form>

    
</div>
<script>
function togglePassword() {
    const passwordField = document.querySelector('.password-input');
    if (passwordField && passwordField.type === 'password') {
        passwordField.type = 'text';
    } else if (passwordField) {
        passwordField.type = 'password';
    }
}
</script>
{% endblock %}
